<% @commentable.comments.each do |comment| %>
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">
            <%= comment.user.email %> comentó hace <%= distance_of_time_in_words( Time.now, comment.created_at) %> 
        </li>
        <li class="list-group-item">
            <%= comment.description %> </br>
        </li>
    </ul>
    </br>
<% end %>